<div class="container main-container">
    <h2>Bar</h2>
    <div class="">
        Unidade Manual: {{ConfigManual.unidadeId}} - Token Manual: {{ConfigManual.unidadeToken}}
    </div>
    <div class="">
        Bebidas 1: {{barBebida1}}
    </div>
    <div class="">
        Dados Unidade (service) {{dadosUnidade}}
    </div>
    <div class="">
        Bebidas 2: {{barBebida2}}
    </div>

    <br />
    <br />
    <br />
    <br />
    <h2>Progress: {{progress}}%</h2>
    <p *ngIf="progress >= 100">Done processing {{label}} of Angular Zone</p>
    <a href="javascript:void(0)" class="btn btn-success" (click)="processWithinAngularZone()">Processar dentro da Zona do angular</a> &nbsp;
    <a href="javascript:void(0)" class="btn btn-danger" (click)="processOutsideOfAngularZone()">Processar fora da Zona do angular</a>
</div>