<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of list; index as i">
                <td>
                    <span>{{ item.nome }}</span>
                    <span class="task-list__finalizado" *ngIf="!item.finalizado && item.iniciado"
                        (click)="toggleItem(i, 'finalizar')"></span>
                    <span class="task-list__iniciado" *ngIf="!item.finalizado && !item.iniciado"
                        (click)="toggleItem(i, 'iniciar')"></span>
                    <span class="task-list__retroceder" *ngIf="item.finalizado && !item.iniciado"
                        (click)="toggleItem(i, 'retomar')"></span>
                    <span class="task-list__retroceder" *ngIf="!item.finalizado && item.iniciado"
                        (click)="toggleItem(i, 'cancelar')"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>